<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

   <h1> Barcha rejalar ro'yxati</h1>
    <br>
    <br>
    {% for reja in rejalar %}
  <h2>{{reja}}</h2>
    <br>
    <a href = "/reja_ochir/{{reja.id}}/"><button> O'chirish </button></a>
    {% endfor %}
    <br>
    <form method="post">{% csrf_token %}
        <input type="text" name="n" placeholder="Nom">
        <select name="s">
            {% for i in studentlar %}
            <option value="{{i.id}}">{{i.ism}}</option>

            {% endfor %}
        </select>
    </form>
</body>
</html>